/* AñadirCliente.css */
.añadir-cliente-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .mensaje {
    text-align: center;
    color: green;
    margin-bottom: 10px;
  }
  
  .form-añadir-cliente label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-añadir-cliente input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .guardar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .guardar-button:hover {
    background-color: #45a049;
  }
  