.pantalla-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Estilo para la sección de video */
.video-container {
  flex: 2;
  background-color: black;
}

.video-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Sección de pedidos */
.pedidos-container {
  flex: 1;
  /*background-color: #ff0050;*/
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pedido-item {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.ultimo-pedido {
  animation: blink 1s infinite;
  background-color: #ffdd99;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

/* Estilo del botón de cerrar sesión */
.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #ff4500;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff6845;
}
