.agregar-usuario-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .error-message, .success-message {
    color: #fff;
    background-color: #d9534f;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }
  
  .success-message {
    background-color: #28a745;
  }
  
  .form-usuario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-group input, .form-group select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .agregar-button {
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .agregar-button:hover {
    background-color: #0056b3;
  }
  