.cierre-caja-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #343a40;
  }
  
  .cajas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .caja-card {
    width: 45%;
    margin: 10px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #343a40;
  }
  
  p {
    margin: 5px 0;
    color: #555;
  }
  
  .cerrar-caja-button {
    width: 100%;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cerrar-caja-button:hover {
    background-color: #c82333;
  }
  