.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.barra-lateral {
  width: 15%; /* Ocupa el 30% del ancho de la pantalla */
  background-color: #d32f2f; /* Color estilo Burger King */
  color: white;
  padding: 1rem;
  height: calc(100vh - 60px); /* Restar el tamaño del encabezado */
  position: fixed; /* Fijar la barra lateral */
  top: 80px; /* Debajo del encabezado */
  left: 0;
  overflow-y: auto; /* Desplazamiento si hay más contenido */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.barra-lateral ul {
  list-style: none;
  padding: 0;
}

.barra-lateral ul li {
  margin: 15px 0;
}

.barra-lateral ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.barra-lateral ul li a:hover {
  text-decoration: underline;
  color: #ffc107; /* Color amarillo estilo Burger King */
}

.barra-lateral ul li a svg {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.contenido {
  margin-left: 20%; /* Deja espacio para la barra lateral */
  width: 80%; /* Ocupa el 70% restante */
  padding: 2rem;
}

.producto-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.resumen-orden {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagina-menu {
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
