.barra-lateral {
    width: 250px;
    height: 100vh;
    background-color: #d32f2f;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .barra-lateral ul {
    padding-left: 0;
  }
  
  .barra-lateral li {
    margin-bottom: 20px;
  }
  
  .barra-lateral .nav-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out;
  }
  
  .barra-lateral .nav-link:hover {
    background-color: #c1272d;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .barra-lateral .mr-2 {
    margin-right: 10px;
  }
  
  .barra-lateral .logo {
    text-align: center;
  }
  
  .barra-lateral .logo-img {
    border-radius: 30%;
    margin-bottom: 5px;
  }
  
  .submenu {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    list-style: none;
    padding-left: 0;
  }
  
  .submenu-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #ddd;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
  }
  
  .submenu-link .mr-2 {
    margin-right: 10px;
  }
  
  .submenu-link:hover {
    color: #fff;
  }
  
  .rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  